@import '../../utils/styles/variables';

.home-container {
  
  @media (min-width: 768px) { 
    .home-element {
      margin: 0;
      margin: 0 auto;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  @media (min-width: 1280px) { 
    .home-element {
      margin: 0 auto;
    }
  }
}