////////////////////////////////
/// Colors
////////////////////////////////
  
/// (Dark Mode Elements) 
$dark-text: hsl(209, 23%, 22%); 

/// (Dark Mode Background)
$dark-bg: hsl(207, 26%, 17%);

///(Light Mode Text)
$light-text: hsl(200, 15%, 8%);

///(Light Mode Input)
$light-input: hsl(0, 0%, 52%);

///(Light Mode Background)
$light-bg: hsl(0, 0%, 98%);

///(Dark Mode Text & Light Mode Elements)
$white: hsl(0, 0%, 100%);