@import '../../utils/styles/variables';

.card {
  width: 300px;
  height: 380px;
  background-color: $dark-text;

  .card-details {

    p {
      color: $white;
      margin-bottom: 4px;
    }

    span {
      color: $light-bg;
    }
  }

  p {
    font-size: 16px;
    color: #666;
  }

  img {
    height: 200px;
  }
}