@import '../../utils/styles/variables';

.card {
  width: 300px;
  height: 380px;

  .card-details {

    p {
      margin-bottom: 4px;
    }
  }

  p {
    font-size: 16px;
  }

  img {
    height: 200px;
  }
}